body {
    background: #0d1b2a;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    display: flex;
    gap: 25px;
    padding: 20px;
}

.col {
    background: #1b263b;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-height: 90vh;
    box-shadow: 0 0 10px #0006;
}

h2 {
    text-align: center;
    color: #fff;
}

.proyecto-info p {
    margin-bottom: 10px;
    font-size: 15px;
}

.btn-view {
    display: inline-block;
    margin-top: 15px;
    background: #4cc9f0;
    padding: 10px 15px;
    border-radius: 6px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.btn-view:hover {
    background: #3ab4d8;
}

.item {
    margin-bottom: 15px;
}

.item label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    background: #415a77;
    color: white;
    border: none;
}

.btn-save {
    width: 100%;
    background: #4cc9f0;
    padding: 12px;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-save:hover {
    background: #3ab4d8;
}
